@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr)); /* Crée 3 colonnes de largeur égale */
  grid-template-rows: repeat(3, 100px); /* Crée 3 lignes de hauteur fixe à 100px */
  gap: 5px; /* Espacement entre les éléments de la grille */
  max-width: 400px;
  margin: 1rem auto;
}

.cell {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
